{% extends 'base.html' %}
{% block title %}Modifier Visiteur{% endblock %}
{% block content %}
 <h1>Modifier Visiteur</h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<h1>Modifier Visiteur : {{ visitor.name }}</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
    {% for category, message in messages %}
{for category, message in messages }
    <div  class="alert alert-{{ category}}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form method="POST" action="{{url_for('auth.edit_visitor', visitor_id=visitor.id)}}">
    <div class="form_group">
    <label for="name">Nom Visiteur :</label><br>
        <input type="text" id="name" name="name" class="form-control" value="{{ visitor.name }}" required></div>
<div class="form-group">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" class="form-control" value="{{ visitor.email }}" required></div>


    <input type="submit"  class="btn btn-primary" value="Mettre à jour">
</form>

<a href="{{ url_for('auth.manage_visitors') }}" class="btn btn-secondary mt-4">Retour à la gestion des Visiteurs</a>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}