{% extends 'base.html' %}

{% block title %}Gestion des Visiteurs{% endblock %}
{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Gestion des Visiteurs</h1>

<!-- Inclure le fichier CSS personnalisé -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/manager_visitor.css') }}">

<!-- Table des visiteurs -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Date de visite</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for visitor in visitors %}
    <tr>
      <td>{{ visitor.id }}</td>
      <td>{{ visitor.name }}</td>
      <td>{{ visitor.email }}</td>
      <td>{{ visitor.visit_date.strftime('%Y-%m-%d %H:%M:%S ') }}</td>
      <td>
        <a href="{{ url_for('auth.edit_visitor', visitor_id=visitor.id) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ url_for('auth.delete_visitor', visitor_id=visitor.id) }}"
           class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce visiteur?');">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Bouton de retour au tableau de bord -->
<a href="{{ url_for('auth.admin_dashboard') }}" class="btn-back">Retour au Tableau de Bord</a>

<!-- Inclure le fichier JavaScript personnalisé -->
<script src="{{ url_for('static', filename='js/manager_visitor.js') }}"></script>

{% endblock %}
