{% extends 'base.html' %}

{% block title %}Ajouter Paiement{% endblock %}

{% block content %}
    <title>Gestion des Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <h1>Gestion des Notes pour {{ student.nom }} {{ student.prenom }}</h1>

    <form method="POST" action="{{ url_for('main.manage_grades', student_id=student.id) }}" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="subject">Matière:</label>
            <input type="text" id="subject" name="subject" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="score">Note:</label>
            <input type="text" id="score" name="score" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>

    <h2>Notes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Matière</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{ note.subject }}</td>
                <td>{{ note.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('main.index') }}" class="btn btn-secondary mt-4">Retour</a>

    <script>
        function validateForm() {
            const subjectInput = document.getElementById("subject");
            const scoreInput = document.getElementById("score");
            const scoreValue = scoreInput.value;

            if (!subjectInput.value) {
                alert("La matière est requise");
                return false;
            }

            if (!scoreValue) {
                alert("La note est requise");
                return false;
            }

            const score = parseFloat(scoreValue);
            if (isNaN(score) || score < 0 || score > 100) {
                alert("Le score doit être un nombre compris entre 0 et 100");
                return false;
            }

            return true;
        }
    </script>
</body>
{% endblock %}
