<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bienvenu sur la page d'acccueil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<h1>Bienvenu sur la page d'acceuil</h1>
<p>Bonjour, {{user.username}}</p>
<p>Vous êtes maintenant connecté.</p>
<a href="{{ url_for('logout') }}">Se déconnecter</a>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>