<!DOCTYPE html>
<html>
<head>
    <title> Performance des Matières</title>
    <link rel="stylesheet" href="styele_matieres.css">
</head>
<body >
<h1>Performance des Matières</h1>
<form method="GET">
    <label for="filter">Filtrer par matière:</label>
    <input type="text" name="filter" id="filter" value="{{request.args.get('filter')}}">
    <button type="submit">Filtrer</button>
</form>
{% if erreurs %}
<div class="error">
    {% for erreur in erreurs %}
    <p>{{ erreur }}</p>
    {% endfor %}
</div>
{% endif %}
<h2> Moyennes par Matière</h2>
<table>
    <thead>
    <tr>
        <th>Matière</th>
        <th>Moyenne</th>
    </tr>
    </thead>>
<tbody>
{% for  matiere, moyenne in moyennes_generales.items()%}
<tr>
    <td>{{ matiere }} </td>
    <td>{{ moyenne | round(2) }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<h2>Moyenne Générale</h2>
<p>{{ moyenne_generale | round(2) }}</p>
</body>
</html>

