{% extends "base.html" %}

{% block content %}

<h1>Réinitialiser le Mot de passe</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li class="alert alert-danger ">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="POST">
    {{  form.hidden_tag() }}
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.pass(class="form-control", placerholder="Nouveau Mot de passe", required=True)}}
        {% if form.password.errors %}
        <div class="alert alert-danger mt-2">
            {% for error in form.password.errors %}
        <P>{{ error }}</P>
        {% endfor %}
    </div>
        {% endif %}

    </div>
    <button type="submit" class="btn btn-primary">Réinitialiser le Mot de passe </button>
</form>
<p> Votre Mot de passe sera réinitialisé avec succès après soumission.</p>
<P><a href="{{url_for('login') }}">Retour à la connexion</a></P>
{% endblock %}
